.detailed-post
    font-size 21px
    font-family 'merriweather-light'
    line-height 1.58
    color rgba(0, 0, 0, 0.8)
    .post-share
      li
        line-height 15px
        font-size 24px!important
    h1,h2,h3,h4,h5,h6
        font-weight 700
        font-family 'merriweather-sans-light'
        font-size 32px
        padding 25px 0
        color black
    strong
        font-weight 700
        font-family 'merriweather-sans-light'
    blockquote
        padding-left 20px
        margin-left -23px
        padding-bottom 2px
        border-left 3px solid rgba(0, 0, 0, 0.8)
        margin 25px 0
    a
        color black
    iframe
        width 560px
        height 315px
        margin 0  auto
        display block
        padding-top 25px
        padding-bottom 25px
.post-tag-container
    width 95%
    max-width   950px
    margin 0 auto
    display table
    hr
        border 1px solid #e9e9e9
    ul
        display table
        margin 25px 0
        li
            float left
            a
                text-decoration none
                padding 3px 15px
                text-transform capitalize
                border 1px solid #e7e7e7
                margin-right 10px
                background-color #e7e7e7
                color black//rgba(0, 0, 0, 0.5)
                cursor pointer
                border-radius 20px
                font-size 15px
                &:hover
                    background-color black
                    color white
.post-comment-container
    width 95%
    max-width   950px
    margin 0 auto
    display table
    padding-bottom 50px
    .fb-comments
        margin 0 auto
        width 100%
        span
            width 100%!important
            iframe
                width 100%!important
