.footer
    float left
    width 100%
    // position absolute
    bottom 0
    right 0
    left 0

    .social-footer
        height 80px
        background-color #f8f8f8

        ul
            max-width 950px
            width 95%
            height 80px
            margin 0 auto
            font-family 'merriweather-sans-light'

            li
                text-align center
                width 25%
                float left
                margin 35px 0 0 0
                text-transform uppercase
                color #c0bcbc
                cursor pointer
                &:hover
                    color black
                span
                    padding-left 5px

    .info-footer
        max-width 950px
        margin 0 auto
        text-align: center;
        display: table

        .copyright-footer
            float left
            color #838383
            font-size 15px
            line-height 1.1
            width: 20%
            min-width: 150px
            padding: 55px 0;
            font-family 'merriweather-sans-light'

        .aboutme-footer
            float left
            width 200px
            color #838383
            font-size 15px
            line-height 1.1
            width: 60%
            min-width: 250px
            max-width: 360px
            display: block;
            padding: 55px 0;
            font-family 'merriweather-sans-light'
            text-align justify

        .other-info-footer
            float left
            padding: 55px 0;

            li
                min-width: 125px;
                margin: 0 0 10px 0;
                padding: 0;
                text-transform: uppercase;
                font-family: 'merriweather-sans-light';
                font-size: 12px;
                letter-spacing: 0.3em;
                line-height: 1;
                font-weight: 400;
                text-align: center;
                width: 20%

                a
                    text-decoration: none;
                    color: #838383;
