html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
select {
  outline: none;
}
.clear {
  clear: both;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.grid {
  float: left;
  box-sizing: border-box;
  border-left: 0 solid transparent;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-left: 0;
}
.grid-split {
  padding-right: 0;
  padding-left: 0;
}
.grid-right {
  float: right;
}
.grid-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.grid-1 {
  width: 8.333333333333332%;
}
.grid-2 {
  width: 16.666666666666664%;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.33333333333333%;
}
.grid-5 {
  width: 41.66666666666667%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.333333333333336%;
}
.grid-8 {
  width: 66.66666666666666%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.33333333333334%;
}
.grid-11 {
  width: 91.66666666666666%;
}
.grid-12 {
  width: 100%;
}
button,
input[type="submit"] {
  cursor: pointer;
}
button:enabled:hover {
  color: #333;
}
button:enabled:focus {
  outline: 0;
}
button:enabled:active {
  position: relative;
}
button:disabled {
  cursor: default;
}
@font-face {
  font-family: 'merriweather-light';
  src: url("./fonts/merriweather-light-webfont.woff2") format('woff2'), url("./fonts/merriweather-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-sans-light';
  src: url("./fonts/merriweather-sans-light.woff2") format('woff2'), url("./fonts/merriweather-sans-light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-sans-bold';
  src: url("./fonts/merriweather-sans-bold.woff2") format('woff2'), url("./fonts/merriweather-sans-bold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light';
  src: url("./fonts/opensans-light.woff2") format('woff2'), url("./fonts/opensans-light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.post-header {
  width: 100%;
  padding: 25px 0 18px;
  background-color: #f8f8f8;
  position: relative;
  font-family: 'merriweather-sans-light';
  line-height: 1.58;
}
.post-header .post-data {
  width: 100%;
  text-align: center;
  color: #c0bcbc;
  font-family: 'opensans-light';
  font-size: 13px;
  position: relative;
  overflow: hidden;
}
.post-header .post-data:before,
.post-header .post-data:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 5%;
  height: 1px;
  content: '\a0';
  background-color: #e7e7e7;
}
.post-header .post-data:before {
  margin-left: -5%;
  text-align: right;
}
.post-header .post-title {
  width: 100%;
  text-align: center;
}
.post-header .post-title a {
  padding: 3px 0;
  color: #000;
  font-size: 37px;
  text-transform: uppercase;
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.2em;
  font-weight: 400;
  font-size: 37px;
  font-weight: bolder;
  text-decoration: none;
}
.post-header .post-category {
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  color: #c0bcbc;
  font-size: 13px;
  text-transform: uppercase;
}
.post-container {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.post-container .post-media {
  overflow: hidden;
  max-width: 950px;
}
.post-container img {
  background-color: lightGray;
  margin: 0 auto;
  width: 100%;
}
.post-container .post-summary {
  width: 100%;
  text-align: center;
}
.post-container .post-summary p {
  padding: 0 200px;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0.02em;
  margin: 30px 0;
}
.post-container .post-more-details {
  height: 40px;
  margin: 0 auto;
  display: table;
}
.post-container .post-more-details .post-share {
  float: left;
  padding-left: 10px;
  font-family: 'merriweather-sans-light';
}
.post-container .post-more-details .post-share li {
  float: left;
  padding: 10px 0px;
  padding-left: 10px;
  color: #c0bcbc;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.post-container .post-more-details .post-share li:hover {
  color: #000;
}
.post-container .post-more-details .post-share li span {
  color: #c0bcbc;
}
.post-container .post-more-details .post-share li span:hover {
  color: #c0bcbc;
}
.post-container .post-continue-reading {
  float: left;
  padding-left: 10px;
}
.post-container .post-continue-reading li {
  display: block;
  border: 1px solid #e9e9e9;
  margin-top: 2px;
}
.post-container .post-continue-reading li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 400;
  color: #c0bcbc;
  padding: 7px 33px;
  display: block;
}
.post-container .post-continue-reading li a:hover {
  background-color: #000;
  color: #fff;
}
.post-container .post-comments {
  float: left;
  padding-left: 10px;
}
.post-container .post-comments li {
  float: left;
  padding: 10px 0px;
  padding-left: 10px;
  color: #c0bcbc;
  text-transform: uppercase;
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: 400;
}
.load-more-continer {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
}
.load-more-continer hr {
  border: 1px solid #e9e9e9;
}
.load-more-continer .load-more {
  width: 200px;
  height: 35px;
  border: 1px solid #e9e9e9;
  background-color: transparent;
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 40px;
  text-transform: uppercase;
}
.load-more-continer .load-more:hover {
  background-color: #000;
  color: #fff;
}
.dashboard-container {
  max-width: 950px;
  width: 95%;
  margin: 0 auto;
}
.dashboard-container .ql-editor {
  min-height: 560px;
}
.dashboard-container >input,
.dashboard-container textarea {
  width: calc(100% - 39px);
  border: 1px solid rgba(204,204,204,0.25);
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 21px;
  font-family: merriweather-sans-light;
}
.dashboard-container textarea {
  padding-top: 15px;
  height: 105px;
  resize: none;
  outline: none;
}
.dashboard-container img {
  width: 100%;
  max-height: 650px;
}
.dashboard-container .dashboard-save {
  clear: both;
  font-family: merriweather-sans-light;
  font-size: 21px;
  width: 320px;
  height: 35px;
  background-color: #008000;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 45px;
  color: #fff;
}
.dashboard-container .dashboard-save:hover {
  background-color: #90ee90;
  opacity: 0.8;
}
.dashboard-container iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.quill {
  font-size: 21px;
  font-family: 'merriweather-light';
  line-height: 1.58;
  color: rgba(0,0,0,0.8);
}
.quill .ql-container {
  width: 100%;
}
.quill .ql-snow {
  border: 1px solid rgba(204,204,204,0.25) !important;
}
.quill .ql-editor {
  padding: 25px;
}
.quill h1,
.quill h2,
.quill h3,
.quill h4,
.quill h5,
.quill h6 {
  font-weight: 700;
  font-family: 'merriweather-sans-light';
  font-size: 32px;
  padding: 25px 0;
  color: #000;
}
.quill strong {
  font-weight: 700;
  font-family: 'merriweather-sans-light';
}
.quill blockquote {
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 2px;
  border-left: 3px solid rgba(0,0,0,0.8);
  margin: 25px 0;
}
.quill a {
  color: #000;
}
.quill p {
  padding-top: 30px;
}
.dashboard-tag-container {
  margin-top: 25px;
  width: calc(100% - 13px);
}
.dashboard-tag-container input {
  padding-left: 0;
  font-size: 18px;
}
.dashboard-tag-container .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 15px;
  width: 100%;
  min-height: 34px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.6;
  background-color: transparent;
  border: 1px solid rgba(204,204,204,0.25);
  border-radius: 1px;
  overflow: hidden;
  word-wrap: break-word;
}
.dashboard-tag-container input.tag-input {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  border: 0;
  outline: 0;
}
.dashboard-tag-container .tag {
  position: relative;
  margin: 8px 6px 8px 0;
  padding: 2px 20px 4px 8px;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #317caf;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: default;
}
.dashboard-tag-container .tag:first-child {
  margin-left: 0;
}
.dashboard-tag-container .tag--marked {
  background-color: #6fadd7;
}
.dashboard-tag-container .tag__name {
  margin-right: 3px;
}
.dashboard-tag-container .tag__remove {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.5;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #fff;
  line-height: 1;
}
.dashboard-tag-container .tag__remove:hover {
  opacity: 1;
}
.dashboard-tag-container .tag__remove:active {
  display: hidden;
}
.dashboard-category-container {
  width: 100%;
  display: table;
}
.dashboard-category-container p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'merriweather-sans-light';
  color: #757575;
}
.dashboard-category-container ul {
  max-height: 200px;
  overflow: scroll;
  padding: 10px;
  border: 1px solid rgba(204,204,204,0.25);
}
.dashboard-category-container ul li {
  float: left;
  list-style: none;
  margin: 10px 10px 10px 0;
  background: #f4f4f4;
  padding: 8px 11px 6px 3px;
}
.dashboard-category-container ul input {
  float: left;
  margin-right: 10px;
}
.dashboard-category-container ul label {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'merriweather-sans-light';
  color: #757575;
}
.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
  clear: both;
  content: '';
  display: table;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}
.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  float: left;
  height: 100%;
}
.ql-snow.ql-toolbar button:active:hover,
.ql-snow .ql-toolbar button:active:hover {
  outline: none;
}
.ql-snow.ql-toolbar input.ql-image[type=file],
.ql-snow .ql-toolbar input.ql-image[type=file] {
  display: none;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #06c;
}
@media (pointer: coarse) {
  .ql-snow.ql-toolbar button:hover:not(.ql-active),
  .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: #444;
  }
}
.ql-snow {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ql-snow * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ql-snow .ql-hidden {
  display: none;
}
.ql-snow .ql-out-bottom,
.ql-snow .ql-out-top {
  visibility: hidden;
}
.ql-snow .ql-tooltip {
  position: absolute;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.ql-snow .ql-tooltip a {
  cursor: pointer;
  text-decoration: none;
}
.ql-snow .ql-tooltip.ql-flip {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.ql-snow .ql-formats {
  vertical-align: middle;
}
.ql-snow .ql-formats:after {
  clear: both;
  content: '';
  display: table;
}
.ql-snow .ql-stroke {
  fill: none;
  stroke: #444;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: #444;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #444;
}
.ql-snow .ql-empty {
  fill: none;
}
.ql-snow .ql-even {
  fill-rule: evenodd;
}
.ql-snow .ql-thin,
.ql-snow .ql-stroke.ql-thin {
  stroke-width: 1;
}
.ql-snow .ql-transparent {
  opacity: 0.4;
}
.ql-snow .ql-direction svg:last-child {
  display: none;
}
.ql-snow .ql-direction.ql-active svg:last-child {
  display: inline;
}
.ql-snow .ql-direction.ql-active svg:first-child {
  display: none;
}
.ql-snow .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}
.ql-snow .ql-picker-label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}
.ql-snow .ql-picker-label::before {
  display: inline-block;
  line-height: 22px;
}
.ql-snow .ql-picker-options {
  background-color: #fff;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}
.ql-snow .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #ccc;
  z-index: 2;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
}
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
  width: 28px;
}
.ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
  padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
  right: 4px;
}
.ql-snow .ql-icon-picker .ql-picker-options {
  padding: 4px 0px;
}
.ql-snow .ql-icon-picker .ql-picker-item {
  height: 24px;
  width: 24px;
  padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-options {
  padding: 3px 5px;
  width: 152px;
}
.ql-snow .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  position: absolute;
  margin-top: -9px;
  right: 0;
  top: 50%;
  width: 18px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
  content: attr(data-label);
}
.ql-snow .ql-picker.ql-header {
  width: 98px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Heading 1';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Heading 2';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Heading 3';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Heading 4';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: 'Heading 5';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: 'Heading 6';
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em;
}
.ql-snow .ql-picker.ql-font {
  width: 108px;
}
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Sans Serif';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'Serif';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace;
}
.ql-snow .ql-picker.ql-size {
  width: 98px;
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: 'Normal';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Small';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Large';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Huge';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px;
}
.ql-snow .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff;
}
.ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000;
}
.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  display: flex;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 15px;
}
.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid transparent;
}
.ql-toolbar.ql-snow .ql-picker-options {
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
  box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ccc;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: #000;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
}
.ql-snow .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 5px #ddd;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-snow .ql-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px;
}
.ql-snow .ql-tooltip input[type=text] {
  display: none;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 26px;
  margin: 0px;
  padding: 3px 5px;
  width: 170px;
}
.ql-snow .ql-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.ql-snow .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 16px;
  padding-right: 8px;
}
.ql-snow .ql-tooltip a.ql-remove::before {
  content: 'Remove';
  margin-left: 8px;
}
.ql-snow .ql-tooltip a {
  line-height: 26px;
}
.ql-snow .ql-tooltip.ql-editing a.ql-preview,
.ql-snow .ql-tooltip.ql-editing a.ql-remove {
  display: none;
}
.ql-snow .ql-tooltip.ql-editing input[type=text] {
  display: inline-block;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: 'Save';
  padding-right: 0px;
}
.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "Enter link:";
}
.ql-snow .ql-tooltip[data-mode=formula]::before {
  content: "Enter formula:";
}
.ql-snow .ql-tooltip[data-mode=video]::before {
  content: "Enter video:";
}
.ql-snow a {
  color: #06c;
}
.ql-container.ql-snow {
  border: 1px solid #ccc;
}
nav {
  height: 80px;
}
nav ::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
  color: rgba(37,35,35,0.33);
}
nav ::-moz-placeholder {
/* Firefox 19+ */
  color: rgba(37,35,35,0.33);
}
nav :-ms-input-placeholder {
/* IE 10+ */
  color: rgba(37,35,35,0.33);
}
nav :-moz-placeholder {
/* Firefox 18- */
  color: rgba(37,35,35,0.33);
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1;
}
.inner-navbar {
  max-width: 950px;
  width: 95%;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.logo {
  min-width: 170px;
  width: 20%;
  height: 80px;
  float: left;
}
.header-menu {
  float: left;
  width: 40%;
  min-width: 265px;
}
.header-menu ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-menu ul li {
  float: left;
  position: relative;
  height: 80px;
  margin: 0 10px 0 10px;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #838383;
  line-height: 80px;
  cursor: pointer;
}
.header-menu ul li span {
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.33em;
  font-weight: 400;
  height: 80px;
  cursor: pointer;
}
.header-menu ul li .category-menu {
  position: absolute;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  max-height: 400px;
  overflow: scroll;
  display: none;
  min-width: 510px;
}
.header-menu ul li .category-menu ul {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-menu ul li .category-menu ul li {
  font-family: 'merriweather-sans-light';
  letter-spacing: 0.33em;
  font-weight: 400;
  width: calc((100% / 3));
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  height: 30px;
}
.social {
  float: left;
  min-width: 85px;
  width: 15%;
  margin: 31px 0 0 0;
}
.social li {
  float: left;
  display: block;
  margin: 0 15px 0 0;
  color: #838383;
  text-decoration: none;
  cursor: pointer;
}
.social li:hover {
  color: #000;
}
.search {
  float: right;
  width: 20%;
  min-width: 150px;
  margin: 29px 0 0 0;
}
.search li:nth-child(1) {
  float: left;
  display: block;
  width: 16px;
  color: #838383;
}
.search li:nth-child(2) input {
  border: none;
  width: 110px;
  padding: 0;
  border-left: 1px solid #838383;
  background-color: transparent;
  color: #838383;
  padding: 0 0 0 10px;
  margin-left: 5px;
  font-family: 'merriweather-sans-bold';
  letter-spacing: 0.33em;
  font-size: 12px;
  font-weight: 400;
}
.footer {
  float: left;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer .social-footer {
  height: 80px;
  background-color: #f8f8f8;
}
.footer .social-footer ul {
  max-width: 950px;
  width: 95%;
  height: 80px;
  margin: 0 auto;
  font-family: 'merriweather-sans-light';
}
.footer .social-footer ul li {
  text-align: center;
  width: 25%;
  float: left;
  margin: 35px 0 0 0;
  text-transform: uppercase;
  color: #c0bcbc;
  cursor: pointer;
}
.footer .social-footer ul li:hover {
  color: #000;
}
.footer .social-footer ul li span {
  padding-left: 5px;
}
.footer .info-footer {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  display: table;
}
.footer .info-footer .copyright-footer {
  float: left;
  color: #838383;
  font-size: 15px;
  line-height: 1.1;
  width: 20%;
  min-width: 150px;
  padding: 55px 0;
  font-family: 'merriweather-sans-light';
}
.footer .info-footer .aboutme-footer {
  float: left;
  width: 200px;
  color: #838383;
  font-size: 15px;
  line-height: 1.1;
  width: 60%;
  min-width: 250px;
  max-width: 360px;
  display: block;
  padding: 55px 0;
  font-family: 'merriweather-sans-light';
  text-align: justify;
}
.footer .info-footer .other-info-footer {
  float: left;
  padding: 55px 0;
}
.footer .info-footer .other-info-footer li {
  min-width: 125px;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'merriweather-sans-light';
  font-size: 12px;
  letter-spacing: 0.3em;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  width: 20%;
}
.footer .info-footer .other-info-footer li a {
  text-decoration: none;
  color: #838383;
}
.detailed-post {
  font-size: 21px;
  font-family: 'merriweather-light';
  line-height: 1.58;
  color: rgba(0,0,0,0.8);
}
.detailed-post h1,
.detailed-post h2,
.detailed-post h3,
.detailed-post h4,
.detailed-post h5,
.detailed-post h6 {
  font-weight: 700;
  font-family: 'merriweather-sans-light';
  font-size: 32px;
  padding: 25px 0;
  color: #000;
}
.detailed-post strong {
  font-weight: 700;
  font-family: 'merriweather-sans-light';
}
.detailed-post blockquote {
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 2px;
  border-left: 3px solid rgba(0,0,0,0.8);
  margin: 25px 0;
}
.detailed-post a {
  color: #000;
}
.detailed-post iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.post-share li {
  line-height: 15px;
  font-size: 24px !important;
}
.post-tag-container {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  display: table;
}
.post-tag-container hr {
  border: 1px solid #e9e9e9;
}
.post-tag-container ul {
  display: table;
  margin: 25px 0;
}
.post-tag-container ul li {
  float: left;
}
.post-tag-container ul li a {
  text-decoration: none;
  padding: 3px 15px;
  text-transform: capitalize;
  border: 1px solid #e7e7e7;
  margin-right: 10px;
  background-color: #e7e7e7;
  color: #000;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
}
.post-tag-container ul li a:hover {
  background-color: #000;
  color: #fff;
}
.post-comment-container {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  display: table;
  padding-bottom: 50px;
}
.post-comment-container .fb-comments {
  margin: 0 auto;
  width: 100%;
}
.post-comment-container .fb-comments span {
  width: 100% !important;
}
.post-comment-container .fb-comments span iframe {
  width: 100% !important;
}
.not-found {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  min-height: 65vh;
  color: #7f8897;
  font-family: 'merriweather-sans-light';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  text-align: center;
}
.wrap {
  margin: 50px auto 0;
  width: 120px;
  height: 100px;
  position: relative;
}
h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 3em;
}
div.items {
  font-size: 50px;
}
div.items .fa {
  position: absolute;
  top: calc(50% - 0.4em);
  left: calc(50% - 0.4em);
  opacity: 0;
}
div.items .fa:nth-child(1) {
  animation: slidefade 20s 0s infinite linear;
}
div.items .fa:nth-child(2) {
  animation: slidefade 20s 2s infinite linear;
}
div.items .fa:nth-child(3) {
  animation: slidefade 20s 4s infinite linear;
}
div.items .fa:nth-child(4) {
  animation: slidefade 20s 6s infinite linear;
}
div.items .fa:nth-child(5) {
  animation: slidefade 20s 8s infinite linear;
}
div.items .fa:nth-child(6) {
  animation: slidefade 20s 10s infinite linear;
}
div.items .fa:nth-child(7) {
  animation: slidefade 20s 12s infinite linear;
}
div.items .fa:nth-child(8) {
  animation: slidefade 20s 14s infinite linear;
}
div.items .fa:nth-child(9) {
  animation: slidefade 20s 16s infinite linear;
}
div.items .fa:nth-child(10) {
  animation: slidefade 20s 18s infinite linear;
}
i.fa-search {
  color: #a9afb9;
  position: absolute;
  z-index: 2;
}
i.search-1 {
  font-size: 20px;
  top: 5px;
  left: 0;
  top: -10px;
  left: -15px;
  animation: rotcw 5s infinite linear;
}
i.search-2 {
  font-size: 12px;
  top: 10px;
  right: 15px;
  top: -5px;
  right: 0;
  animation: rotcw 4s infinite linear;
}
i.search-3 {
  font-size: 12px;
  bottom: 0;
  left: 5px;
  bottom: -15px;
  left: -10px;
  animation: rotccw 4.4s infinite linear;
}
i.search-4 {
  font-size: 20px;
  bottom: -5px;
  right: 0;
  bottom: -20px;
  right: -15px;
  animation: rotccw 5.5s infinite linear;
}
@-moz-keyframes slidefade {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  4.5% {
    opacity: 1;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  10.5% {
    opacity: 1;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
}
@-webkit-keyframes slidefade {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  4.5% {
    opacity: 1;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  10.5% {
    opacity: 1;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
}
@-o-keyframes slidefade {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  4.5% {
    opacity: 1;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  10.5% {
    opacity: 1;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
}
@keyframes slidefade {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  4.5% {
    opacity: 1;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  10.5% {
    opacity: 1;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    -o-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
}
@-moz-keyframes rotcw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(5px) rotate(-360deg);
    transform: rotate(360deg) translate(5px) rotate(-360deg);
  }
}
@-webkit-keyframes rotcw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(5px) rotate(-360deg);
    transform: rotate(360deg) translate(5px) rotate(-360deg);
  }
}
@-o-keyframes rotcw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(5px) rotate(-360deg);
    transform: rotate(360deg) translate(5px) rotate(-360deg);
  }
}
@keyframes rotcw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(5px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(5px) rotate(-360deg);
    transform: rotate(360deg) translate(5px) rotate(-360deg);
  }
}
@-moz-keyframes rotccw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -moz-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -ms-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -o-transform: rotate(-360deg) translate(5px) rotate(360deg);
    transform: rotate(-360deg) translate(5px) rotate(360deg);
  }
}
@-webkit-keyframes rotccw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -moz-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -ms-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -o-transform: rotate(-360deg) translate(5px) rotate(360deg);
    transform: rotate(-360deg) translate(5px) rotate(360deg);
  }
}
@-o-keyframes rotccw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -moz-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -ms-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -o-transform: rotate(-360deg) translate(5px) rotate(360deg);
    transform: rotate(-360deg) translate(5px) rotate(360deg);
  }
}
@keyframes rotccw {
  from {
    -webkit-transform: rotate(0deg) translate(5px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(5px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(5px) rotate(0deg);
    -o-transform: rotate(0deg) translate(5px) rotate(0deg);
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -moz-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -ms-transform: rotate(-360deg) translate(5px) rotate(360deg);
    -o-transform: rotate(-360deg) translate(5px) rotate(360deg);
    transform: rotate(-360deg) translate(5px) rotate(360deg);
  }
}
